body { 
    margin:0; 
    padding:0; }

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:50%;
}

#search {
    width: 50%;
    float: right;
}

p {
   
    width: 50%;
    float: right;
    margin-top: 100px;
    margin-left: 100px;
}