#search {
    margin-top: 2%;
    margin-left: 5%;
    width: 25%;
}

.location {
    width: 300px;
    height: 60px;
}

#navibar {
    padding-left: 3%;
    padding-right: 3%;
}

.container.card {
    width: 13%;
    float: right;
    padding: 1%;
    margin-right: -168px;
    margin-top: -155px;
    ;
    color: white;
    background-color: #cfcf50;
}

#map {
    position: relative;
    float: right;
    margin-top: -162px;
    margin-right: 50px;
    margin-bottom: 100px;
}

#places {
    width: 40%;
    position: absolute;
    margin-left: 4.8%;
    margin-top: 2%;
}

h1 {
    font-size: 25px;
}

.location.waves-effect.waves-light.btn {
    line-height: initial;
    line-height: 17px;
    margin: 3px;
}

#searchTopic {
    margin-top: 100px;
}

nav {
    height: 100px;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 4.1rem;
    padding: 14px;
    font-family: 'Quicksand', sans-serif;
}

#searchLocation {
    width: 63%;
    margin-top: -5%;
}

#submitButton {
    background-color: #ee6e73;
}

#weather {
    left: -5opx;
}